In [1]:
var1 = 1       # int data type
var2 = True    # bool data type
var3 = 10.023  # float data type
var4 = 10+3j   # complex data type

In [2]:
type(var4)

complex

In [3]:
string1= 'Good'
string1

'Good'

In [4]:
#When you try to change the character at index 0 it fails proving that strings are immutable.
string1[0]= 'h'

TypeError: 'str' object does not support item assignment

In [ ]:
# But when you create a new string object and reference that string it will work.
string1= 'hood'
string1

In [ ]:
string_a = 'Hello World!'

In [ ]:
print(string_a[2:]) # fetches from index 2 or character 3 to the last

In [ ]:
print(string_a[:2]) # fetches index 0 and 1 first two characters excluding index 2

In [ ]:
print(string_a[5]) # wont return an output since character in index 5 is a whitespace

In [ ]:
print(string_a[1:7])

In [ ]:
string_1 = "wycliffe"
print(string_1 + 'Kamba')

In [ ]:
string_1 = "Wycliffe"  # The word to print
for word in range(10):  # Repeat 10 times
    print(string_1)   # Print the word on a new line

In [ ]:
numbers = range(15)
list(numbers)

In [ ]:
numbers = range(10,15)
list(numbers)

In [13]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)            # Prints complete list
print (list[0])         # Prints first element of the list
print (list[1:3])       # Prints elements starting from 2nd till 3rd 
print (list[2:])        # Prints elements starting from 3rd element
print (tinylist * 2)    # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [15]:
# The same with using + to concatenate
# list.extend(tinylist)
# list

['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [2]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print (tuple)               # Prints the complete tuple
print (tuple[0])            # Prints first element of the tuple
print (tuple[1:3])          # Prints elements of the tuple starting from 2nd till 3rd 
print (tuple[2:])           # Prints elements of the tuple starting from 3rd element
print (tinytuple * 2)       # Prints the contents of the tuple twice
print (tuple + tinytuple)   # Prints concatenated tuples

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [12]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
tuple[2] = 1000    # Invalid syntax with tuple
list[2] = 1000     # Valid syntax with list

In [14]:
#A loop that prints 0-10
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [16]:
# A loop that starts at 1 and prints upto 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
# A loop that prints 1 to 10 but increments by 3
for i in range(1,11,3):
    print(i)

1
4
7
10