##### 1. Write a Python function to find the maximum of three numbers.

In [20]:
def find_max_num(list):
    return max(list)
find_max_num([17.76,17.43,17.68])

17.76

In [3]:
def find_max_num(a,b,c):
    return max(a,b,c)
find_max_num(17.76,17.43,17.68)

17.76

##### 2. Write a Python function to sum all the numbers in a list.
 - Sample List : (8, 2, 3, 0, 7)  
 - Expected Output : 20

In [9]:
sample = [8, 2, 3, 0, 7]
def add_numbers(list):
    total = 0 
    for num in list:
        total += num
    return total
print(f'The sum is {add_numbers(sample) }')

The sum is 20

In [12]:

def add_numbers(my_list):
    total = 0
    for number in my_list:
        total += number
    return total
add_numbers([8,2,3,0,7])

20

In [6]:
def add_numbers(a,b,c,d,e):
    total_sum = a + b + c + d + e
    return total_sum
add_numbers(8,2,3,0,7)

20

In [26]:
def add_numbers(num):
    return sum(num)
add_numbers([8,2,3,0,7])

20

##### 3. Write a Python function to multiply all the numbers in a list.
- Sample List : (8, 2, 3, -1, 7)
- Expected Output : -336

In [8]:
 def multiply_numbers(multiples):
    product = 1
    for num in multiples:
        product *= num
    return product
multiply_numbers([9,2,4,6,-7])

-3024

In [10]:
my_multiples = [8, 2, 3, -1, 7]
def multiply_numbers(multiples):
    product = 1
    for num in multiples:
        product *= num
    return product
multiply_numbers(my_multiples)

-336

##### 4 Write a Python program to reverse a string.
- Sample String : "1234abcd"
- Expected Output : "dcba4321"

In [48]:
my_string = "1234abcd"
reversed_string = ''.join(reversed(my_string))
reversed_string

'dcba4321'

In [44]:
my_string = "1234abcd"
my_string[::-1] 
#my_string[6:1:-2]

''

##### 5 Write a Python function to check whether a number falls within a given range.

In [12]:
#Creating a range object and converting it to a list so to be readable:
my_range = range(10,20)
test_numbers = [8,68,15,16,19,20,13,21,19.5,42,10]
for num in test_numbers:
    if num not in my_range:
        print(f'{num} is out of range')
    else:
        print(f'{num} is within range')

8 is out of range
68 is out of range
15 is within range
16 is within range
19 is within range
20 is out of range
13 is within range
21 is out of range
19.5 is out of range
42 is out of range
10 is within range

In [52]:
def find_range(number):
    if number in range(10,20):
        print(f'{number} is in range')
    else:
        print(f'{number} is not in range')
find_range(39)

39 is not in range

In [8]:
def find_range(number,start,end):
    if number>= start and number<=end:
        return True
    else:
        return False
find_range(16,2,17)

True

##### 7 Write a Python function that accepts a string and counts the number of upper and lower case letters.
- Sample String : 'The quick Brown Fox'
- Expected Output :
     * No. of Upper case characters : 3
     * No. of Lower case Characters : 12

In [60]:
def character_count(string):
    upper_count = 0
    lower_count = 0
    
    for character in string:
        if character.isupper():
            upper_count += 1
        elif character.islower():
            lower_count += 1
    
    print(f"No. of Upper case characters : {upper_count}")
    print(f"No. of Lower case Characters : {lower_count}")

character_count('The quick Brow Fox')

No. of Upper case characters : 3
No. of Lower case Characters : 12

##### 8 Write a Python function that takes a list and returns a new list with distinct elements from the first list.
- Sample List : [1,2,3,3,3,3,4,5]
- Unique List : [1, 2, 3, 4, 5]

In [9]:
sample_list = [1,2,3,3,3,3,4,5]
def unique_list(ls):
    return list(set(ls))
unique_list(sample_list)

[1, 2, 3, 4, 5]

##### 9. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
- Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
- Expected Output : ['Green', 'White', 'Black']

In [21]:
 sample_list = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
# expected_output = sample_list[1:4]
# expected_output
def get_unique_list(ls):
    return ls[1:4]
get_unique_list(sample_list)

['Green', 'White', 'Black']

In [12]:
sample_list = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
def removed_items(list):
    return list[1:4]
removed_items(sample_list)

['Green', 'White', 'Black']

##### 10. Write a Python script to sort (ascending and descending) a dictionary by value.

In [25]:
# Sample dictionary
my_dict = {'apple': 10, 'banana': 5, 'cherry': 20, 'date': 15}

# Sorting the dictionary by value in ascending order
ascending_dict = dict(sorted(my_dict.items(), key=lambda item: item[1]))
print("Dictionary sorted by value in ascending order:")
print(ascending_dict)

descending_dict = dict(sorted(my_dict.items(), key=lambda item: item[1], reverse=True))
print("\nDictionary sorted by value in descending order:")
print(descending_dict)

Dictionary sorted by value in ascending order:
{'banana': 5, 'apple': 10, 'date': 15, 'cherry': 20}

Dictionary sorted by value in descending order:
{'cherry': 20, 'date': 15, 'apple': 10, 'banana': 5}

##### 11. Write a Python script to concatenate the following dictionaries to create a new one.

- Sample Dictionary :
- dic1={1:10, 2:20}
- dic2={3:30, 4:40}
- dic3={5:50,6:60}

- Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [15]:
dic1={1:10, 2:20}

dic2={3:30, 4:40}

dic3={5:50,6:60}

new_dict = {}
new_dict.update(dic1)
new_dict.update(dic2)
new_dict.update(dic3)
new_dict

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [29]:
dic1={1:10, 2:20}

dic2={3:30, 4:40}

dic3={5:50,6:60}

new_dict = {**dic1,**dic2,**dic3}
new_dict

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [31]:
dic1={1:10, 2:20}

dic2={3:30, 4:40}

dic3={5:50,6:60}

new_dict = dic1 | dic2 | dic3
new_dict

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}