#### Working with Python & SQL Cont'd

**We will:**
- read records from an excel sheet.
- insert those records into a SQLITE database.
- run ad-hoc queries against the database record.
- visualize trends and patterns in the records.

#### 1.Read records from an excel sheet.

In [4]:
import pandas as pd
import sqlite3

In [24]:
# read the public debt file
# data_source = 'data\\Public Debt (Ksh Million).csv   OR'
data_source = 'data/Public Debt (Ksh Million).csv'
df = pd.read_csv(data_source)

In [14]:
df.head()

   Year      Month Domestic Debt External Debt         Total
0  2021   December  4,032,368.18  4,174,371.53  8,206,739.71
1  2021   November  4,008,077.30  4,109,282.85  8,117,360.15
2  2021    October  3,959,523.30  4,083,124.54  8,042,647.84
3  2021  September  3,937,777.45  4,062,504.78  8,000,282.23
4  2021     August  3,864,875.78  4,054,862.85  7,919,738.63