In [2]:
import pandas as pd

In [3]:
'''
take a dataframe column and provide sum of that column
    args:
        dataframe column -> series
    return:
        sum of values in the column -> float
    
'''

def add_numbers(df_col):
    column_total = 0
    #convert column to list
    df_col = list(df_col)
    #for each item in the list add it to sum
    for num in df_col:
        num = float(num.replace(',',''))
        column_total = column_total + num
    return column_total

In [4]:
df = pd.read_csv('data/Public Debt (Ksh Million).csv')

In [5]:
df.head()

   Year      Month Domestic Debt External Debt         Total
0  2021   December  4,032,368.18  4,174,371.53  8,206,739.71
1  2021   November  4,008,077.30  4,109,282.85  8,117,360.15
2  2021    October  3,959,523.30  4,083,124.54  8,042,647.84
3  2021  September  3,937,777.45  4,062,504.78  8,000,282.23
4  2021     August  3,864,875.78  4,054,862.85  7,919,738.63

In [24]:
# df.iloc[row(start:end),column(start:end)]
df.iloc[2:4,1:4]

       Month Domestic Debt External Debt
2    October  3,959,523.30  4,083,124.54
3  September  3,937,777.45  4,062,504.78

In [6]:
totals = df['Total'][:5]

In [7]:
# totals = list(totals)
# total_sum = 0
# for num in totals:
#     val = float(num.replace(',',''))
#     total_sum += val
#     #print(val)
#     #print(type(val))
# print(total_sum)

In [8]:
selected_domestic_debt= df['Domestic Debt'][:5]
selected_external_debt= df['External Debt'][:5]
selected_totals = df['Total'][:5]

In [9]:
total_domestic_debt = add_numbers(selected_domestic_debt)
total_external_debt = add_numbers(selected_external_debt)
total_sum = add_numbers(selected_totals)

In [10]:
print(f'The total sum over the years was {total_sum}.\
 However, the total external debt was {total_external_debt}\
 and the total domestic debt was {total_domestic_debt}')

The total sum over the years was 40286768.56. However, the total external debt was 20484146.55 and the total domestic debt was 19802622.01